{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
        {% if not pub_date_filter %}
        {% for book in books%}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
        {% endfor %}
        </div>      
        {% else %}
        {% for book in books%}
        <div class="book col-md-4">
            <h2>{{ book.name }}</h2>
            <p>Автор: {{ book.author }}</p>
            <p>Дата публикации: {{ book.pub_date }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="buttons">
    {% if prev_page %}
    <a href="http://127.0.0.1:8000/books/{{ prev_page }}/">{{ prev_page }}</a>
    {% endif %}
    {% if next_page %}
    <a href="http://127.0.0.1:8000/books/{{ next_page }}/">{{ next_page }}</a>
    {% endif %}
    {% endif %}
    </div>
{% endblock %}